BR2_arm=y
BR2_arm1176jzf_s=y
BR2_PER_PACKAGE_DIRECTORIES=y
BR2_PACKAGE_HOST_LINUX_HEADERS_CUSTOM_4_19=y
BR2_TOOLCHAIN_BUILDROOT_CXX=y
BR2_LINUX_KERNEL=y
BR2_LINUX_KERNEL_CUSTOM_TARBALL=y
BR2_LINUX_KERNEL_CUSTOM_TARBALL_LOCATION="$(call github,raspberrypi,linux,4f2a4cc501c428c940549f39d5562e60404ac4f7)/linux-4f2a4cc501c428c940549f39d5562e60404ac4f7.tar.gz"
BR2_LINUX_KERNEL_DEFCONFIG="bcmrpi"
BR2_LINUX_KERNEL_DTS_SUPPORT=y
BR2_LINUX_KERNEL_INTREE_DTS_NAME="bcm2708-rpi-b bcm2708-rpi-b-plus bcm2708-rpi-cm"
BR2_LINUX_KERNEL_NEEDS_HOST_OPENSSL=y
BR2_PACKAGE_RPI_FIRMWARE=y
# BR2_TARGET_ROOTFS_TAR is not set
BR2_PACKAGE_RPI_FIRMWARE_FIXES=y
BR2_TARGET_ROOTFS_TXTZIP=y
BR2_TARGET_ROOTFS_TXTZIP_CUSTOM_NAME=y
BR2_TARGET_ROOTFS_TXTZIP_CUSTOM_NAME_NAME="txpi"
BR2_TARGET_ROOTFS_TXTZIP_FILES="$(BR2_EXTERNAL_FTCOMMUNITY_TXT_PATH)/board/ftCommunity/txpi/1/output.conf"
